---
import Button from "../components/button.astro";
import Card from "../components/card.astro";
const {
  title,
  date,
  description,
  tags,
  link = "#",
  img = "./public/media/img_fallback.png",
  alt = "Imagen de demo",
} = Astro.props;
---

<Card {title} {tags} {date} {description}>
  <figure slot="image">
    <img src={img} {alt} />
  </figure>
  <Button href={link}>Ver demo</Button>
</Card>

<style lang="scss">
  .tags {
    margin: 0;
    display: flex;
    gap: 0.2em;
  }

  figure {
    border-radius: 10px;
    aspect-ratio: 16 / 9;
    margin-top: 0.5rem;

    img {
      object-fit: cover; // ajusta imagen al ancho
      object-position: 0% 0%;
    }
  }
</style>
