---
import Card from "../components/card.astro";
const {
  position = "Posición?",
  workplace = "Empresa?",
  start_date = "Fecha?",
  end_date = "Fecha?",
  url = "#",
  tags = ["?"],
  description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae debitis quidem pariatur possimus consequuntur, soluta velit eos similique! Sapiente quas accusantium id fuga dignissimos?",
} = Astro.props;

const date = start_date + " / " + end_date;
---

<Card title={position} {tags} {date} {description}>
  <p class="workplace" slot="subtitle"><a href={url}>{workplace}</a></p>
</Card>

<style lang="scss">
  .workplace {
    font-family: var(--font-header);
    font-weight: 900;
    margin: 0.2em 0;

    a {
      color: var(--color-purple);
    }
  }
</style>
